<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ff.mapper.DepartMapper">

    <resultMap id="BaseResultMap" type="com.ff.domain.Depart">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="creatTime" column="creat_time" jdbcType="DATE"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="place" column="place" jdbcType="VARCHAR"/>
            <result property="depath" column="depath" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,
        creat_time,type,level,
        place,depath
    </sql>
</mapper>
